.ProjectColours {
  color: #3b525e;
  color: #cfe9f7;
  color: #8cc1de;
  color: #265b78;
  color: #75a2ba;

  color: #bdd6e3; /* background */
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  background-color: #cfe9f7;
}

html {
  padding-bottom: 60px; /* FOOTER PADDING / COULD BREAK OTHER THINGS :o */
}

.App {
  text-align: center;
  margin: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: #c7d7e0;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(114, 132, 143);
}

.header-logo {
  display: flex;
  height: 65px;
  padding: 10px;
  position: absolute;
  text-align: left;
}

.nav {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: #a8bcc7;
  margin-top: 10px;
  border: 2px solid #8799a1;
  border-radius: 5px;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 0px;
  display: inline;
  color: white;
}

.nav li {
  display: inline;
  padding: 10px;
}

.nav li:hover {
  background-color: #b4cbd8;
  cursor: pointer;
}

.link-style {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.nav a {
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(111, 123, 136);
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #c9d9e0;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: 2px solid #99a4aa;
  -webkit-box-shadow: 0px -4px 10px 0px rgba(73, 73, 73, 0.103);
  -moz-box-shadow: 0px -4px 10px 0px rgba(73, 73, 73, 0.103);
  box-shadow: 0px -4px 10px 0px rgba(73, 73, 73, 0.103);
}

html {
  background: url('/background.png');
}

h4 {
  color: rgb(114, 132, 143);
}

.footer-a {
  text-decoration: none;
  color: rgb(86, 126, 153);
  cursor: pointer;
}

.footer-a:hover {
  color: rgb(147, 181, 204);
}

.article-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: #e3e7e9;
  margin-top: 10px;
  border: 2px solid #8799a1;
  border-radius: 5px;
  font-size: 20px;
}

h3 {
  color: rgb(64, 67, 68);
}

.article-container p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(65, 65, 65);
}

.article-container h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(65, 65, 65);
  transition: 100ms ease-in-out;
}

.article-container h2:hover {
  color: rgb(114, 132, 143);
  transition: 100ms ease-in-out;
}

.article-link {
  text-decoration: none;
}

.article-link h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(143, 172, 190);
}

.article-link p {
  color: rgb(143, 172, 190);
}

/* CSS Loader */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  padding-bottom: 15px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgb(94, 104, 109);

  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
